@import "./base.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-content: center;
  background-color: $bg2;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 20rem;
  h3 {
    font-size: 1.2rem;
    text-align: center;
    color: $em1;
  }
  .formSection {
    margin-top: 1rem;
    .formRow {
      display: flex;
      justify-content: stretch;
    }
    .formError {
      text-align: right;
      color: $em2;
    }
    input {
      margin-left: 0.5rem;
      flex: 1;
      -webkit-flex: 1;
    }
  }
}
